[MASTER]
max-line-length=120
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function docstring
    W0621,  # Redefining name from outer scope
    W0613,  # Unused argument
    R0903,  # Too few public methods
    C0103,  # Invalid name