[
  {rabbit, [
     {tcp_listeners, [{"0.0.0.0", 5672}]},
     {ssl_listeners, [{"0.0.0.0", 5671}]},
     {default_user, <<"<%= ENV['RABBITMQ_DEFAULT_USER'] %>">>},
     {default_pass, <<"<%= ENV['RABBITMQ_DEFAULT_PASS'] %>">>}
  ]},
  {rabbitmq_management, [
     {listener, [{port, 15672},
                 {ssl, true},
                 {ssl_opts, [{cacertfile, "/etc/rabbitmq/ssl/ca_certificate.pem"},
                             {certfile, "/etc/rabbitmq/ssl/server_certificate.pem"},
                             {keyfile, "/etc/rabbitmq/ssl/server_key.pem"},
                             {honor_cipher_order, true},
                             {versions, ['tlsv1.2', 'tlsv1.3']},
                             {ciphers, ["TLS_AES_256_GCM_SHA384",
                                        "TLS_CHACHA20_POLY1305_SHA256",
                                        "TLS_AES_128_GCM_SHA256",
                                        "ECDHE-ECDSA-AES256-GCM-SHA384",
                                        "ECDHE-RSA-AES256-GCM-SHA384",
                                        "ECDHE-ECDSA-AES128-GCM-SHA256",
                                        "ECDHE-RSA-AES128-GCM-SHA256"]}]}]}
  ]}
].